<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    html,
    body {

      height: 100%;
      width: 100%;
    }

    #wholePage {
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);
    }

    #header {
      background: #732A73;
      height: 41px;
    }

    .headerIcon {
      display: flex;
      justify-content: flex-end;
    }

    .headerIcon>div {
      color: white;
      margin: 10px;
    }
  </style>
</head>

<body>
  <div id="wholePage">
    <div class="div" id="header">
      <div class="headerIcon">
        <div>Register</div>
        <div>Sign in</div>
      </div>
    </div>
  </div>



</body>

</html>